.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.TabsListUnstyled-root.TabsListUnstyled-horizontal button {
  border: 1px solid indigo;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

button.TabUnstyled-root.Mui-selected {
  color: #fff;
  background-color: indigo;
}

.TabsListUnstyled-root.TabsListUnstyled-horizontal {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.create-btn {
  border: 1px solid indigo;
  padding: 10px 10px 7px 10px;
  border-radius: 4px;
}

.create-btn:hover {
  transition: 0.3s;
  color: #fff;
  background-color: indigo;
}
.tableCell-invisible{
  display: none;
}